

<% if @boat %>
<h1><%= "Invoices For The #{@boat.name}" %></h1>
<p><%=link_to "Add New Invoice For The #{@boat.name}", new_boat_invoice_path, class: "btn btn-outline-warning m-2"%></p>
<%else%>
<h1>Invoices </h1>
<% end %>
<ul>
    <% @invoices.each do |x| %>
    
        <li><%= link_to "Invoice#: #{x.number} - #{x.boat.name}", invoice_path(x), class: "btn btn-outline-success m-2"%></li>
   
    <% end %>
</ul>