<h1>Tenders </h1>
<%=link_to "Add New Tender", new_tender_path, class: "btn btn-outline-warning m-2"%>

<ol>
    <% @tenders.each do |x| %>
    
        <li><%= link_to "#{x.name}", tender_path(x), class: "btn btn-outline-success m-2"%> </li>
   
    <% end %>
</ol>


   