/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1{
     margin-left: 20px;
 }
 h5{
     margin-left: 25px;
 }

 h2{
     margin-left: 25px;
 }
div.a{
    text-indent: 40px;
 }

 div.b{
    margin-left: 20px;
 }

 div.field_with_errors{
     background-color: red;
     display: inline;
 }

 div.field_with_errors input[type=text]{
    border: 2px solid red;
    border-radius: 4px;
    background-color: pink;
 }

 .paid {
    display: inline;
    border: 2px solid green;
    border-radius: 4px;
    background-color: lime;
 }

 .unpaid {
    display: inline;
    border: 2px solid red;
    border-radius: 4px;
    background-color: pink;
 }


 .c {
     font-size: large;
    display:inline-block;
    border-bottom: 5px solid #9affbc;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: 100;
  }

 @keyframes blinking {
    50% {
      border-color: #5f6aff;
    }
}

